# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env

# Code coverage files
lcov.info

# Node packages
node_modules/

# Rust build output
target/

# Anchor local state
.anchor/
